<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <% @request.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= msg %>
    </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <%= f.label :from %>
        <%= f.text_field :from, class: "form-control", placeholder: current_user.full_name, autofocus: true %>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <%= f.label :to %>
            <%= f.collection_select(:to, User.order(:category), :full_name, :full_name, {prompt: "Select"}, {class: "form-control", id: "to-field"}) %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <%= f.label "CC" %>
            <%= f.collection_select(:user_ids, User.all, :id, :full_name, {prompt: "Select"}, {class: "form-control", id: "cc-field", multiple: true}) %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :body, placeholder: "Request", rows: 10, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :tag_list, "Tags" %>
        <%= f.text_field :tag_list, value: @request.tag_list.to_s, placeholder: "Tags (separate with commas)", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :filepicker_url, "Upload Attachments:" %>
        <%= f.filepicker_field :filepicker_url, multiple: true %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group has-feedback">
        <%= f.label :opened %>
        <%= f.date_field :opened, class: "form-control" %>
        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :due %>
        <%= f.date_field :due, class: "form-control" %>
        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
      </div>
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(['Draft','Open','Closed','Re-Opened','Void','Field Impact'], @request.status), {} , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.select :priority, options_for_select(%w[High Normal], @request.priority), {} , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cost_impact %>
        <%= f.select :cost_impact, options_for_select(%w[Increase None Unknown Decrease], @request.cost_impact), {} , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :trade %>
        <%= f.select :trade, options_for_select(['Core & Shell', 'MEP', 'Interiors', 'Sitework'], @request.trade), {} , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

<%= javascript_include_tag "select2_custom" %>
