<%= form_for @request do |f| %>
  <div class="form-group">
    <%= f.text_field :to, placeholder: "To", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :recipients, placeholder: "Recipients", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.date_field :due, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :status, placeholder: "Status", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :priority, placeholder: "Priority", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :cost_impact, placeholder: "Potential Cost Impact", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :trade, placeholder: "Trade", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "Request", rows: 10, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>

<% end %>
