<div>
  <small class="pull-right">As of <%= Time.now.strftime("%m/%d/%Y %I:%M%p")%></small>
  <h1>Constructable HQ Project <small>RFI Dashboard</small></h1>
</div>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel dash panel-warning">
      <div class="panel-heading text-center">
        <h1 class="panel-title">Overview Stats</h1>
        </div>
      <div class="panel-body">
        <table class="dashTable">
          <tr>
            <td><span class="big"><%= @open.count %> </span></td>
            <td><span> Open RFIs</span></td>
          </tr>
          <tr>
            <td><span class="big"><%= @high_priority.count %> </span></td>
            <td><span>&nbsp; &nbsp; &nbsp;High Priority RFIs</span></td>
          </tr>
          <tr>
            <td><span class="big text-danger"><%= @overdue.count %> </span></td>
            <td><strong class="text-danger"> Overdue RFIs</strong></td>
          </tr>
          <tr>
            <td><span class="big"><%= @requests.count %> </span></td>
            <td><span> Total RFIs</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel dash panel-danger">
      <div class="panel-heading text-center">
        <h1 class="panel-title">Cost Impact of RFIs</h1>
      </div>
      <div class="panel-body">
        <%= content_tag :div, "", id: "cost_donut", data: {costs: cost_donut_data}%>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 text-center">
    <div class="panel dash panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">RFIs by Trade</h3>
      </div>
      <div class="panel-body">
        <%= content_tag :div, "", id: "trade_bar", data: {trades: trade_bar_data}%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">RFI tracking</h3>
      </div>
      <div class="panel-body">
        <%= content_tag :div, "", id: "dates_line", data: {dates: dates_line_data} %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success-custom">
      <div class="panel-heading">
        <h3 class="panel-title">RFI Tag Cloud</h3>
      </div>
      <div class="panel-body">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag), :class => css_class %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "dashboard" %>
