<div class="panel panel-success">
  <div class="panel-heading">
    <strong class="panel-title">RFI #<%= @request.id %> - <%= @request.subject %>
      <span class="pull-right label"><%= @request.status %></span>
    </strong>
  </div>
  <div class="panel-body">
    <table class="table table-bordered fixed">
      <tbody>
        <tr>
          <td><strong>Opened:</strong> <%= @request.opened.strftime("%m/%d/%Y") %></td>
          <td><strong>Priority:</strong> <%= @request.priority %></td>
        </tr>
        <tr>
          <td><strong>Due:</strong> <%= @request.due.strftime("%m/%d/%Y") %></td>
          <td><strong>Potential Cost Impact:</strong> <%= @request.cost_impact %></td>
        </tr>
        <tr>
          <td><strong>Responded:</strong>
            <% if !!@request.responses.find_by(primary: true) %>
            <%= @request.responses.find_by(primary: true).created_at.strftime("%m/%d/%Y") %>
            <% end %>
          </td>
          <td><strong>Trade:</strong> <%= @request.trade %></td>
        </tr>
      </tbody>
    </table>
    <ul class="media-list">
      <li class="media">
        <%= image_tag('companies/'+ @request.user.avatar, class: "pull-left") %>
        <div class="media-body">
          <p class="text-muted">Created by <strong><%= @request.user.full_name %> (<%= @request.user.company %>)</strong> <%= local_time_ago(@request.created_at) %></p>
          <p><< Tags will go here >></p>
        </div>
      </li>
    </ul>
    <h4><u>Information Requested:</u></h4>
    <blockquote>
      <p><%= markdownit(@request.body) %></p>
    </blockquote>
    <h4><u>Attachments:</u></h4>
    <% if !!@request.filepicker_url %>
      (Right-click to download)<br/>
      <% @uploads = @request.filepicker_url.split(',') %>
      <% @uploads.each do |upload| %>
        <%= link_to filepicker_image_tag(upload, w: 160, h: 160, fit: 'clip'), upload %>
      <% end %>
    <% else %>
      None
    <% end %>
  </div>
</div>

<% if @request.responses.count > 0 %>
  <% @request.responses.order(primary: :desc, created_at: :desc).each do |response| %>
    <% if response.primary? %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <strong class="panel-title">Primary Response</strong>
        </div>
        <div class="panel-body">
          <ul class="media-list">
            <li class="media">
              <%= image_tag('companies/'+ @request.user.avatar, class: "pull-left") %>
              <div class="media-body">
                <p class="text-muted">Response by <strong><%= @request.user.full_name %> (<%= @request.user.company %>)</strong> <%= local_time_ago(@request.created_at) %></p>
                <p><< Tags will go here?? >></p>
              </div>
            </li>
          </ul>
          <blockquote>
            <p><%= markdownit(response.body) %></p>
          </blockquote>
        </div>
      </div>
    <% else %>
      <%= div_for response do %>
      Response by <strong><%= response.user.full_name %></strong> <%= local_time_ago(response.created_at) %>
      <p><%= markdownit(response.body) %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render partial: "responses/form" %>
