<u>RFI #<%= @request.id %></u>
<h3><%= @request.subject %></h3>
<p class="text-muted">Created by <%= @request.user.email %></p>
<p><%= @request.body %></p>
<% if @request.responses.count > 0 %>
  <% @request.responses.each do |response| %>
    <%= div_for response do %>
      Posted by <strong><%= response.user.full_name %></strong> <%= local_time_ago(response.created_at) %>
      <p><%= response.body %></p>
    <% end %>
  <% end %>
<% end %>
<%= render partial: "responses/form" %>
